* {
  box-sizing: border-box;
}
html, body, #content, .app {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: "microsoft yahei";
  color: #333;
  font-size: 14px;
}
.app {
  margin: 0 auto;
  max-width: 1200px;
}
h1 {
  font-weight: 400;
  color: #2a303b;
  font-size: 28px;
  text-shadow: 0px 1px 0px #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app {
  white-space: nowrap;
  height: 100%;
}
.list {
  position: relative;
  z-index: 0;
  display: inline-block;``
  vertical-align: top;
  white-space: normal;
  height: 100%;
  width: 33%;
  padding: 0 20px;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .list {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 767px) {
  .list:not(:last-child):after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 99%;
    background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
  }
}
.card {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 10px 5px 10px 10px;
  margin: 0 0 15px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .05);
  background: linear-gradient(to bottom, #f4f4f4 0%, #fff 100%) fixed;
}
.cardBorder {
  position: absolute;
  zIndex: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
}
.card-title {
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}
.card-title:before {
  display: inline-block;
  width: 1em;
  text-align: center;
  content: '+';
}
.card-title-open:before {
  content: '-';
}
.card-details {
  padding: 0px 10px 0px 17px;
  color: #777;
}
.card-details img{
  max-width: 100%;
  border-radius: 2px;
}
.checklist-task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #ddd;
}
.checklist-task-remove {
  display: inline-block;
  width: 1em;
  margin-left: 4px;
  color: #d66;
  text-decoration: none;
}
.hide {
  display: none;
}
.checklist-add-task {
  border: 1px dashed #bbb;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
}
code {
  display: block;
  padding: 5px 10px;
  background: #eee;
  border-radius: 2px;
}

.contacts-app {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.contacts-app input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  border: 1px dashed #aaa;
}
.contacts-app ul {
  padding: 5px 0px;
  background: #fff;
  box-shadow: 0px 3px 10px rgba(0,0,0,.2);
}
.contacts-app li {
  line-height: 30px;
}
.contacts-app li:hover {
  background: #f4f4f4;
}
.contacts-app li:not(:last-child) {
  border-bottom: 1px dashed #eee;
}
.red {
  color: #f44;
}
.load {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: -60px;
  width: 300px;
  padding: 10px;
  margin-left: -150px;
  background: #fff;
  border: 1px solid #e5e5df;
  border-bottom: 2px solid rgb(187, 102, 102);
  border-radius: 3px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
  background: linear-gradient(to bottom, #f4f4f4 0%, #fff 100%) fixed;
  transition: ease-in-out .4s;
  text-align: center;
  font-size: 16px;
  opacity: 0;
}
.load-show {
  opacity: 1;
  top: 100px;
  animation: fadeIn .4s;
}
@keyframes fadeIn {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 100px;
    opacity: 1;
  }
}

.item {
  background: #efefef;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  padding: 8px 12px;
  width: 120px;
}
.exampe-enter {
  opacity: 0;
  transform: translateX(-250px);
}
.example-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: .3s;
}
.example-leave {
  opacity: 1;
  transform: translateX(0);
}
.example-leave.example-leave-active {
  opacity: 0;
  transform: translateX(250px);
  transition: .3s;
}
.exampe-appear {
  opacity: 0;
  transform: translateX(-250px);
}
.example-appear.example-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: .3s;
}

.snack {
  display: inline-block;
  padding: .5em;
  margin: 0 1em 1em 0.25em;
  border: 4px solid #d9d9d9;
  background: #f7f7f7;
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  cursor: pointer;
  line-height: 5em;
  text-align: center;
  color: #333;
}
.shopping-cart {
  border: 5px dashed #d9d9d9;
  border-radius: 10px;
  padding: 5rem 2rem;
  text-align: center;
}
menu .active {
  font-size: 16px;
  font-weight: bold;
}