* {
  box-sizing: border-box;
}
html, body, #content, .app {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  font-family: "microsoft yahei";
  color: #333;
  font-size: 14px;
}
.app {
  margin: 0 auto;
  max-width: 1200px;
}
h1 {
  font-weight: 400;
  color: #2a303b;
  font-size: 28px;
  text-shadow: 0px 1px 0px #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app {
  white-space: nowrap;
  height: 100%;
}
.list {
  position: relative;
  z-index: 0;
  display: inline-block;``
  vertical-align: top;
  white-space: normal;
  height: 100%;
  width: 33%;
  padding: 0 20px;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .list {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 767px) {
  .list:not(:last-child):after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 99%;
    background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
  }
}
.card {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 10px 5px 10px 10px;
  margin: 0 0 15px 0;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid #e5e5df;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .05);
  background: linear-gradient(to bottom, #f4f4f4 0%, #fff 100%) fixed;
}
.cardBorder {
  position: absolute;
  zIndex: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
}
.card-title {
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}
.card-title:before {
  display: inline-block;
  width: 1em;
  text-align: center;
  content: '+';
}
.card-title-open:before {
  content: '-';
}
.card-details {
  padding: 0px 10px 0px 17px;
  color: #777;
}
.card-details img{
  max-width: 100%;
  border-radius: 2px;
}
.checklist-task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #ddd;
}
.checklist-task:hover .checklist-task-remove{
  display: inline-block;
}
.checklist-task-remove {
  display: none;
  width: 1em;
  margin-left: 4px;
  color: #d66;
  text-decoration: none;
  font-weight: bold;
}
.checklist-task-remove:hover {
  color: #b44;
}
.hide {
  display: none;
}
.checklist-add-task {
  border: 1px dashed #bbb;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
}
code {
  display: block;
  padding: 5px 10px;
  background: #eee;
  border-radius: 2px;
}

.contacts-app {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.contacts-app input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  border: 1px dashed #aaa;
}
.contacts-app ul {
  padding: 5px 0px;
  background: #fff;
  box-shadow: 0px 3px 10px rgba(0,0,0,.2);
}
.contacts-app li {
  line-height: 30px;
}
.contacts-app li:hover {
  background: #f4f4f4;
}
.contacts-app li:not(:last-child) {
  border-bottom: 1px dashed #eee;
}
.red {
  color: #f44;
}
.load {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: -60px;
  width: 300px;
  padding: 10px;
  margin-left: -150px;
  background: #fff;
  border: 1px solid #e5e5df;
  border-bottom: 2px solid rgb(187, 102, 102);
  border-radius: 3px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
  background: linear-gradient(to bottom, #f4f4f4 0%, #fff 100%) fixed;
  transition: ease-in-out .4s;
  text-align: center;
  font-size: 16px;
  opacity: 0;
}
.load-show {
  opacity: 1;
  top: 100px;
  animation: fadeIn .4s;
}
@keyframes fadeIn {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 100px;
    opacity: 1;
  }
}

.item {
  background: #efefef;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  padding: 8px 12px;
  width: 120px;
  position: relative;
  left: 0;
}
.example-enter {
  opacity: 0;
  transform: translateY(20px);
  transition:.3s;
}
.example-enter.example-enter-active {
  opacity: 1;
  transform: translateY(0);
}
.example-leave {
  opacity: 1;
  transition: .3s;
}
.example-leave.example-leave-active {
  opacity: 0;
  transform: translateX(20px);
}
.example-appear {
  opacity: 0;
  transform: translateX(20px);
  transition: .3s;
}
.example-appear-active {
  opacity: 1;
  transform: translateX(0);
}

.snack {
  display: inline-block;
  padding: .5em;
  margin: 0 1em 1em 0.25em;
  border: 4px solid #d9d9d9;
  background: #f7f7f7;
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  cursor: pointer;
  line-height: 5em;
  text-align: center;
  color: #333;
}
.shopping-cart {
  border: 5px dashed #d9d9d9;
  border-radius: 10px;
  padding: 5rem 2rem;
  text-align: center;
}
menu .active {
  font-size: 16px;
  font-weight: bold;
}
.testDrag {
  display: inline-block;;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #f4f4f4;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0,0,0,.6)
}
.card_form {
  position: absolute;
  width: 450px;
  height: 210px;
  margin: auto;
  padding: 15px;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  z-index: 3;
  border: 1px solid #e5e5df;
  border-bottom: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .05);
  background: linear-gradient(to bottom, #f4f4f4 0%, #fff 100%) fixed;
}
.card_form input[type=text], .card_form textarea {
  display: block;
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 5px;
  border: none;
}
.card_form input[type=text] {
  outline: 1px dashed #ddd;
  font-size: 20px;
  font-weight: bold;
}
.card_form textarea {
  resize: none;
 }
.card_form input[type=text]:focus, .card_form textarea:focus {
  outline-offset: 2px;
}
.card_form label {
  margin: 3px 0 7px 3px;
  color: #a7a7a7;
  display: inline-block;
  width: 60px;
}
.actions {
  margin-top: 10px;
  text-align: right;
}
.card_form button {
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  background: #eee;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: .3s;
}
.card_form button:hover {
  background: #ddd;
  border: 1px solid #ccc;
}

.float-button {
  position: absolute;
  width: 56px;
  height: 56px;
  z-index: 2;
  right: 20px;
  bottom: 20px;
  background: #d43a2f;
  color: #fff;
  border-radius: 50%;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
  line-height: 56px;
  box-shadow: 0px 5px 10px rgba(0,0,0,.5)
}
.card-edit {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: .3s ease-in;
}
.card:hover .card-edit {
  opacity: 1;
}
.card-edit a {
  text-decoration: none;
  color: #999;
  font-size: 17px;
}

header {
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: #000;
}
.atm {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  background-color: #000;
  text-align: center;
  margin: 10px auto 0 auto;
  padding: 20px;
}
.atm input {
  font-size: 12px;
  width: 180px;
}
.atm button {
  margin: 5px;
  padding: 20px;
}